body{
    background-color: #ddd;
    color: black;
}
.flex-conteiner{
    display: flex;
    background-color: blueviolet;
    height: 400px;
    flex-basis: ;
    /*flex-wrap: nowrap;
      flex-wrap: wrap;
      flex-wrap: wrap-reverse;
    */
}
.flex-items{
    border: 1px solid green;
padding: 5px;
width: 75px;
height: 100px;
background-color: aqua;
    
}


